:root {
  --comic-background-bg-color: #8c8c8c;
	--header-bg-color: #212121;
	--page-container-bg-color: #B8B8B8;

  --themeTransition: background-color 4s 2s;
}

body {
  background-color: var(--comic-background-bg-color, black);
  transition: var(--themeTransition);
  
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;

  
  image-rendering: pixelated;
  font-smooth: never;
  -webkit-font-smoothing : none;
  -moz-osx-font-smoothing: never;

  position: relative
}

#main {
  min-height: 70vh;
}

/* HEADER */
header {
  background-color: var(--header-bg-color);
  transition: var(--themeTransition);
  
  min-height: 85px;
  padding-left: 1em;
  text-decoration: underline;

  display: flex;
  align-items: center;
}

/* MAIN COMIC */
#pageContainer {
  background-color: var(--page-container-bg-color);
  transition: var(--themeTransition);
  
  width: fit-content;
  min-height: 878px;

  padding: 50px 50px 36px;
  margin: 0 auto 4em;

  z-index: 10;
  position: relative;
}

#adjacentPages {
  margin-top: 0.5em;
  text-align: center;
	font-size: 2em;
}

#footerCredits {
  background-color: var(--comic-background-bg-color);
  transition: var(--themeTransition);
  
  padding: 1em;
  margin: auto;
  max-width: 900px;
  box-sizing: border-box;
}

/* Fake footer background */

#fakeFooterBackground {
  background-color: var(--header-bg-color);
  transition: var(--themeTransition);
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 360px;
  z-index: -10;
}

/* Archive Stuff */

#archiveContainer {
  padding-bottom: 140px;
}

.archive-header {
  line-height: 16px;
  padding:8px 8px 0px 8px;
  cursor:pointer;
  list-style: none;
}

.archive-header:after {
  content: '\25BA'; 
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

details {
  background-color:    var(--header-bg-color, #212121);
  border-width:        1px;
  border-style:        solid;
  border-color:        var(--header-bg-color, #212121);
  list-style-position: inside;
}

details[open] > .archive-header:after {
  content: "\25BC"; 
}

.archive-chapter {
  position:      relative;
  margin-left:   auto;
  margin-right:  auto;
  margin-top:    20px;
  margin-bottom: 20px;
  padding-top:   2px;
  width:         85%;
  max-width:     900px;
}

li {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-family: courier;
  background-color: var(--page-container-bg-color, #B8B8B8);
}

li:nth-of-type(odd) {
  background: #B0B0B0;
}

ul {
	margin:              8px 0 0 0;
	width:               100%;
	padding:             0;
	background-color:    var(--page-container-bg-color, #B8B8B8);
}

/* Credits Stuff */

.creditsContainer {
  clear:               both;
  padding:             8px;
  display:             flex;
  justify-content:     space-between;
  background-color:    var(--comic-background-bg-color);
  border-style:        solid;
  border-width:        1px;
  border-color:        var(--page-container-bg-color, #B8B8B8);
}

.credit {
 margin-top: auto;
 margin-bottom: auto;
}

.credit::before {
  content: "-";
}

.contributions {
  width: 30%;
}

.contributions > summary::before{
  content: "Contributions"; 
}
.
/* ====== */
/* THEMES */
/* ====== */

.dark {
  --comic-background-bg-color: black;
  --header-bg-color: #212121;
  --page-container-bg-color: black;
  --themeTransition: background-color 4s 2s;
}

.city {
	background-image: url("images/CityBackground.png");
	background-repeat: repeat-x;
	background-position-y: calc(100% - 360px);
  --themeTransition: background-color 4s 2s;
}

.flashwhite {
	animation: BGfadein;
	animation-duration:5s;
}
/* LOGS */

.dissonancelog {
  position: absolute;
	background-color: #C0C0C0;
	scrollbar-color: #8c8c8c #212121;
  overflow: auto;

  color: black;
  border: solid black 2px;
}

.dissonancelog p {
  margin: 0 0 1px;
	background-color: #DCDCDC;
}

/* MISC */

.textBox{
  background-color: var(--page-container-bg-color);
  padding: 8px;
  border-width: 2px;
  max-width: 55%;
  display: block;
  margin: 20px auto;
}

.headerText{
  font-size:		 20px;
  font-weight:       bold;
  background-color:  var(--header-bg-color, #212121);
  margin-top:        -8px;
  margin-left:		 -8px;
  margin-right: 	 -8px;
  padding: 			 10px;
}

.subheader {
  font-size:   18px;
  font-weight: bold;
}

.floatingImage {
  position: absolute;
}

.hoverReveal { opacity: 0; }
.hoverReveal:hover { opacity: 1; }

.display-none {
  display: none;
}

/*PAGE SPECIFIC HACKS OF SHAME */
/*blame june for these*/
@keyframes FlashFadeIn { 
	from { 
		opacity: 1;
		background-color: white;
	} 
	to { 
		opacity: 0;
		background-color: transparent;
	} 
}

@keyframes BGfadein { 
	from { 

		background-color: white;
	} 
	to { 

		background-color: #8D8D8D;
	} 
}

.pg41Perktomotrix {
  animation-duration: 8s;
  animation-name: pg41PerktomotrixAnim;
  animation-timing-function: steps(2, end);
}

@keyframes pg41PerktomotrixAnim {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}
/* Responsive Web Page Stuff? */
@media only screen and (max-width: 750px) {
	.textBox {
		max-width:100%;
	}
	.contributions > summary::before{
	  content: ""; 
	}
}