:root {
  --comic-background-bg-color: #8c8c8c;
	--header-bg-color: #212121;
	--page-container-bg-color: #B8B8B8;

  --themeTransition: background-color 4s 2s;
}

body {
  background-color: var(--comic-background-bg-color, black);
  transition: var(--themeTransition);
  
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;

  
  image-rendering: pixelated;
  font-smooth: never;
  -webkit-font-smoothing : none;
  -moz-osx-font-smoothing: never;

  position: relative
}

/* HEADER */
header {
  background-color: var(--header-bg-color);
  transition: var(--themeTransition);
  
  min-height: 85px;
  padding-left: 1em;
  text-decoration: underline;

  display: flex;
  align-items: center;
}

/* MAIN COMIC */
#pageContainer {
  background-color: var(--page-container-bg-color);
  transition: var(--themeTransition);
  
  width: fit-content;
  min-height: 980px;

  padding: 50px 50px 36px;
  margin: 0 auto 4em;

  z-index: 10;
  position: relative;
}

#adjacentPages {
  margin-top: 0.5em;
  text-align: center;
	font-size: 2em;
}

#footerCredits {
  background-color: var(--comic-background-bg-color);
  transition: var(--themeTransition);
  
  padding: 1em;
  margin: auto;
  max-width: 900px;
  box-sizing: border-box;
}

/* Fake footer background */

#fakeFooterBackground {
  background-color: var(--header-bg-color);
  transition: var(--themeTransition);
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 360px;
  z-index: -10;
}

/* ====== */
/* THEMES */
/* ====== */

.dark {
  --comic-background-bg-color: black;
  --header-bg-color: #212121;
  --page-container-bg-color: black;
  --themeTransition: background-color 4s 2s;
}

.city {
	background-image: url("images/CityBackground.png");
	background-repeat: repeat-x;
	background-position-y: calc(100% - 360px);
  --themeTransition: background-color 4s 2s;
}

/* LOGS */

.dissonancelog {
  position: absolute;
	background-color: #C0C0C0;
	scrollbar-color: #8c8c8c #212121;
  overflow: auto;

  color: black;
  border: solid black 2px;
}

.dissonancelog p {
  margin: 0 0 1px;
	background-color: #DCDCDC;
}

/* MISC */

.floatingImage {
  position: absolute;
}

.hoverReveal { opacity: 0; }
.hoverReveal:hover { opacity: 1; }

.display-none {
  display: none;
}

/*PAGE SPECIFIC HACKS OF SHAME */
/*blame june for these*/
.pg41Perktomotrix {
  animation-duration: 8s;
  animation-name: pg41PerktomotrixAnim;
  animation-timing-function: steps(2, end);
}

@keyframes pg41PerktomotrixAnim {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}
